@import "./mixins/scss-flex-dat/flex-dat";

.selector {
  padding: 0.5rem;
}

.social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;

  a {
    color: green;
  }
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: "Roboto";
}

.MuiCircularProgress-root {
  border: 2px solid lightgrey;
  border-radius: 50%;
}

.MuiContainer-root {
  padding: 0 !important;
  width: auto !important;
}

.selectors {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.addpage-title {
  font-family: "Roboto";
  text-transform: uppercase;

  font-weight: 400;
}

.addpage-subtitle {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  font-size: 1rem;
  padding-bottom: 2em;
  max-width: 70%;
}

.selector-text {
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 200;
}

.app-heading {
  @include flex-dat("center", "row");
}

.compareModal {
  @include flex-dat("center");

  background-color: white;
  height: 40vh;
  width: auto !important;

  transform: translate(0, 30vh);

  .modalButton {
    width: 10rem;
  }

  .compareModalHeadings {
    text-align: center;
  }

  .compareModalOR {
    font-weight: 100;
    padding: 3rem;
  }

  .compareModalContent {
    @include flex-dat("center", "column");
    height: 100%;
    width: 100%;
  }

  .compareContentResult {
    @include flex-dat("center", "column");
    padding: 2em;
  }

  .compareModalContentCompleted {
    @include flex-dat("center", "row");
    height: 100%;
    width: 100%;
  }

  .compareModalButtons {
    @include flex-dat("center", "row");
  }

  .compareModalFinalResultsContent {
    @include flex-dat("center", "column");
    height: 100%;
    width: 100%;
  }

  .compareModalFinalResultContainer {
    @include flex-dat("center");
    font-family: "Roboto";
    font-weight: 100;
    text-align: center;
  }

  .compareModalFinalResult {
    padding: 0.5rem;
  }
}
